In [1]:
import pandas as pd

# Data Exploration

In [2]:
df = pd.read_csv('../data/processed_weather_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               96453 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Pressure (millibars)      95165 non-null  float64
 10  Daily Summary             96453 non-null  object
 11  Hour                      96453 non-null  int64
 12  Day                       96453 non-null  int64
 13  Month                     96453 non-null  int64
 14  Year                      96453 non-null  int64
 15  Weekday                   96453 non-null  int64
dtypes: float64(7), int64(5), object(4)
memory usage: 11.8+ MB

In [3]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5

In [4]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Hour,Day,Month,Year,Weekday
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,95165.000000,96453.000000,96453.000000,96453.000000,96453.00000,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,1016.814140,11.499891,15.727100,6.523001,2011.00029,2.999347
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,7.778356,6.922049,8.802216,3.448501,3.16216,2.000282
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,973.780000,0.000000,1.000000,1.000000,2005.00000,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,1012.120000,6.000000,8.000000,4.000000,2008.00000,1.000000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.550000,11.000000,16.000000,7.000000,2011.00000,3.000000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,1021.160000,17.000000,23.000000,10.000000,2014.00000,5.000000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000,23.000000,31.000000,12.000000,2016.00000,6.000000

# Set up

In [5]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], utc=True)
df.set_index('Formatted Date', inplace=True)

# Analyzing Data through time
### Questions need to be answered
1. The temperature and humidity throughout the years
2. The weather pattern monthly throughout the year?
3. The weather pattern hourly throughout the day?

In [6]:
#The temperature and humidity throughout the years
yearly_avg = df[['Temperature (C)', 'Humidity']].resample('Y').mean()
yearly_avg

C:\Users\LEGION\AppData\Local\Temp\ipykernel_20456\841904822.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_avg = df[['Temperature (C)', 'Humidity']].resample('Y').mean()

                           Temperature (C)  Humidity
Formatted Date
2005-12-31 00:00:00+00:00         0.577778  0.890000
2006-12-31 00:00:00+00:00        11.215225  0.767349
2007-12-31 00:00:00+00:00        12.134677  0.689647
2008-12-31 00:00:00+00:00        12.161819  0.701239
2009-12-31 00:00:00+00:00        12.269682  0.707247
2010-12-31 00:00:00+00:00        11.200176  0.796861
2011-12-31 00:00:00+00:00        11.524934  0.736008
2012-12-31 00:00:00+00:00        11.986824  0.689513
2013-12-31 00:00:00+00:00        11.941017  0.754197
2014-12-31 00:00:00+00:00        12.528228  0.748571
2015-12-31 00:00:00+00:00        12.312088  0.732354
2016-12-31 00:00:00+00:00        11.987381  0.760868

In [7]:
# The weather pattern monthly throughout the year?
monthly_cycle = df.groupby('Month')[['Temperature (C)', 'Humidity']].mean()
monthly_cycle

       Temperature (C)  Humidity
Month
1             0.815678  0.850698
2             2.166880  0.813407
3             6.914976  0.702849
4            12.769200  0.641051
5            16.874455  0.691650
6            20.728510  0.686418
7            22.965462  0.639593
8            22.339134  0.635300
9            17.503458  0.689163
10           11.334119  0.774443
11            6.587549  0.827917
12            1.625086  0.870398

# Correlation Analysis
### Question need to be answered
How are weather elements related to each other?

In [8]:
numeric_cols = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)']
corr_matrix = df[numeric_cols].corr()
corr_matrix

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
Temperature (C),1.000000,0.992629,-0.632255,0.008957,0.392847,-0.310455
Apparent Temperature (C),0.992629,1.000000,-0.602571,-0.056650,0.381718,-0.288400
Humidity,-0.632255,-0.602571,1.000000,-0.224951,-0.369173,0.039257
Wind Speed (km/h),0.008957,-0.056650,-0.224951,1.000000,0.100749,-0.253700
Visibility (km),0.392847,0.381718,-0.369173,0.100749,1.000000,-0.166326
Pressure (millibars),-0.310455,-0.288400,0.039257,-0.253700,-0.166326,1.000000

# Categorical Analysis
### Questions need to be answered
1. Most common summaries
2. Comparing between the average temperature of (Summary) Foggy and Clear
3. Comparing between the average temperature of (Precip Type) rain and snow

In [9]:
# Most common summaries
df['Summary'].value_counts().head(10)

Summary
Partly Cloudy               31733
Mostly Cloudy               28094
Overcast                    16597
Clear                       10890
Foggy                        7148
Breezy and Overcast           528
Breezy and Mostly Cloudy      516
Breezy and Partly Cloudy      386
Dry and Partly Cloudy          86
Windy and Partly Cloudy        67
Name: count, dtype: int64

In [10]:
# Comparing between the average temperature of (Summary) Foggy and Clear
temp_by_summary = df.groupby('Summary')['Temperature (C)'].mean().sort_values()
temp_by_summary[['Foggy', 'Clear']]

Summary
Foggy     1.464035
Clear    11.925109
Name: Temperature (C), dtype: float64

# Extremes Analysis
### Question need to be answered
1. Top ten hottest day
2. Top ten coldest day
3. Top ten windiest day

In [11]:
# Top ten hottest days
df.sort_values(by='Temperature (C)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-07-22 13:00:00+00:00,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.9820,1007.55,Partly cloudy starting in the afternoon.,13,22,7,2007,6
2007-07-21 15:00:00+00:00,Partly Cloudy,rain,39.588889,37.600000,0.15,12.2038,283.0,10.3523,1010.24,Partly cloudy starting in the morning continui...,15,21,7,2007,5
2007-07-20 14:00:00+00:00,Partly Cloudy,rain,38.983333,36.800000,0.15,15.4077,133.0,9.9820,1011.93,Partly cloudy starting in the afternoon contin...,14,20,7,2007,4
2007-07-19 14:00:00+00:00,Partly Cloudy,rain,38.983333,37.461111,0.18,8.9355,175.0,9.9820,1013.34,Partly cloudy starting in the afternoon.,14,19,7,2007,3
2007-07-20 13:00:00+00:00,Partly Cloudy,rain,38.983333,36.627778,0.14,12.7190,167.0,9.9820,1012.34,Partly cloudy starting in the afternoon contin...,13,20,7,2007,4
2007-07-21 13:00:00+00:00,Partly Cloudy,rain,38.866667,37.950000,0.21,12.7512,269.0,9.9820,1011.00,Partly cloudy starting in the morning continui...,13,21,7,2007,5
2012-08-24 13:00:00+00:00,Partly Cloudy,rain,38.861111,37.327778,0.18,17.3880,232.0,9.9820,1009.89,Partly cloudy starting in the morning continui...,13,24,8,2012,4
2007-07-21 14:00:00+00:00,Partly Cloudy,rain,38.844444,37.994444,0.21,9.2414,222.0,9.9820,1010.50,Partly cloudy starting in the morning continui...,14,21,7,2007,5
2007-07-22 14:00:00+00:00,Partly Cloudy,rain,38.838889,36.705556,0.15,23.7475,249.0,9.9820,1007.26,Partly cloudy starting in the afternoon.,14,22,7,2007,6
2012-08-24 14:00:00+00:00,Partly Cloudy,rain,38.838889,37.261111,0.18,12.9444,250.0,9.9820,1009.38,Partly cloudy starting in the morning continui...,14,24,8,2012,4

In [12]:
# Top ten coldest days
df.sort_values(by='Temperature (C)', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2012-02-10 06:00:00+00:00,Foggy,snow,-21.822222,-21.822222,0.80,3.0751,323.0,1.3685,1033.66,Foggy starting in the morning continuing until...,6,10,2,2012,4
2012-02-09 01:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.74,3.2200,200.0,1.9320,1034.30,Foggy until morning.,1,9,2,2012,3
2012-02-09 05:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.71,3.2200,190.0,1.9320,1032.60,Foggy until morning.,5,9,2,2012,3
2012-02-09 04:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.78,4.8300,180.0,2.5760,1033.30,Foggy until morning.,4,9,2,2012,3
2012-02-09 06:00:00+00:00,Foggy,snow,-20.783333,-20.783333,0.80,4.4275,181.0,1.7871,1032.33,Foggy until morning.,6,9,2,2012,3
2012-02-09 02:00:00+00:00,Partly Cloudy,snow,-20.555556,-20.555556,0.78,3.2200,200.0,4.0250,1033.80,Foggy until morning.,2,9,2,2012,3
2012-02-11 01:00:00+00:00,Foggy,snow,-20.555556,-25.922222,0.78,6.4400,30.0,1.4490,1032.10,Foggy starting overnight continuing until morn...,1,11,2,2012,5
2012-02-09 03:00:00+00:00,Foggy,snow,-20.277778,-25.072222,0.79,5.6672,158.0,1.8032,1033.53,Foggy until morning.,3,9,2,2012,3
2012-02-09 00:00:00+00:00,Foggy,snow,-20.050000,-25.200000,0.78,6.2146,170.0,1.7066,1034.74,Foggy until morning.,0,9,2,2012,3
2012-02-10 23:00:00+00:00,Clear,snow,-20.000000,-27.716667,0.78,11.2700,20.0,0.0000,1033.30,Foggy starting overnight continuing until morn...,23,10,2,2012,4

In [13]:
# Top ten windiest days
df.sort_values(by='Wind Speed (km/h)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-01-29 12:00:00+00:00,Dangerously Windy and Partly Cloudy,rain,8.944444,3.483333,0.49,63.8526,307.0,11.4471,1009.05,Mostly cloudy throughout the day and windy sta...,12,29,1,2007,0
2008-01-27 22:00:00+00:00,Windy and Partly Cloudy,rain,7.772222,2.188889,0.63,55.9314,319.0,15.8746,1014.95,Mostly cloudy throughout the day and windy sta...,22,27,1,2008,6
2014-03-15 16:00:00+00:00,Windy and Overcast,rain,13.783333,13.783333,0.40,54.8849,320.0,6.2951,1007.27,Mostly cloudy starting in the morning and wind...,16,15,3,2014,5
2007-01-29 13:00:00+00:00,Windy and Partly Cloudy,rain,8.838889,3.761111,0.54,53.5969,299.0,11.2056,1009.43,Mostly cloudy throughout the day and windy sta...,13,29,1,2007,0
2007-01-29 10:00:00+00:00,Windy and Partly Cloudy,rain,8.816667,3.744444,0.54,53.2427,299.0,11.2700,1008.79,Mostly cloudy throughout the day and windy sta...,10,29,1,2007,0
2008-01-27 23:00:00+00:00,Windy and Partly Cloudy,rain,6.683333,0.822222,0.69,53.1944,311.0,15.8746,1015.53,Breezy starting overnight continuing until mor...,23,27,1,2008,6
2007-01-29 11:00:00+00:00,Windy and Mostly Cloudy,rain,8.861111,3.805556,0.54,53.1944,299.0,11.2700,1008.71,Mostly cloudy throughout the day and windy sta...,11,29,1,2007,0
2007-01-29 14:00:00+00:00,Windy and Partly Cloudy,rain,7.777778,2.333333,0.58,52.9368,290.0,11.2056,1010.51,Mostly cloudy throughout the day and windy sta...,14,29,1,2007,0
2014-03-17 08:00:00+00:00,Windy and Partly Cloudy,rain,15.994444,15.994444,0.42,51.1497,310.0,16.1000,1015.31,Partly cloudy throughout the day and windy sta...,8,17,3,2014,0
2008-01-27 10:00:00+00:00,Windy and Overcast,rain,7.172222,1.605556,0.70,50.9726,310.0,11.2700,1018.86,Mostly cloudy throughout the day and windy sta...,10,27,1,2008,6